/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes menu-arrow {
    0% {
        left: -20px;
    }

    50% {
        left: -16px;
    }

    100% {
        left: -20px;
    }
}

.theme-menu__button::after {
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.theme-menu__button:focus-visible {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}

.theme-menu__button:disabled {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.theme-menu__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
    animation: menu-arrow ease-in-out 1s infinite;
}

@keyframes button-slide {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.animated-button::before {
    transform-origin: left center;
    transform: scaleX(0);
}

.animated-button:hover::before {
    animation: button-slide 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.animated-button {
    transition: box-shadow 0.3s ease;
}

@keyframes icon-border {
    0% {
        border: 2px solid var(--bg-color);
    }

    100% {
        border: 2px solid var(--accent-color);
    }
}

.card__icon-button:focus-visible {
    animation: icon-border 0.3s ease;
    animation-fill-mode: forwards;
}


.like-icon:hover .core {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon .main-body {
    fill: var(--bg-color);
    transition: fill 0.3s linear;
}

.like-icon .core {
    fill: var(--bg-color);
    transition: fill 0.3s 0.03s linear;
}

.like-icon:active .core {
    fill: var(--fill-icon-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--fill-icon-color);
    transition: fill 0.3s 0.05s linear;
}

@keyframes scaling {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.5;
    }
}

@keyframes sparks-opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.like-icon.is-liked .core {
    fill: var(--fill-icon-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--fill-icon-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--fill-icon-color);
    transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
    animation: sparks-opacity 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: scaling 0.3s 0.1s ease-in;
}

.like-icon .contour {
    fill: var(--accent-color);
    transition: fill 0.1s linear;
}
